div.swiper-products{
    margin-top: 48px;
    overflow-clip-margin: 26px;

    &__swiper-slide-products{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev{
        display: none;
        @media (min-width: 1023px) {
            display: flex;
            width: 42px;
            left: -20px;
            content: url('/src/assets/images/arrow-carousel.png');
            content: url('/src/assets/images/arrow-carousel.svg');
        }
    }

    .swiper-button-next{
        display: none;
        @media (min-width: 1023px) {
            display: flex;
            width: 42px;
            right: -20px;
            content: url('/src/assets/images/arrow-carousel.png');
            content: url('/src/assets/images/arrow-carousel.svg');
            transform: rotate(180deg);
        }
    }

    &__slider-items{
        width: auto;
        height: auto;
        border: 1px solid;
        max-width: 200px;
        @media (min-width: 360px) {
            max-width: 244px;
        }
        @media (min-width: 1200px) {
            max-width: 270px;
        }
        @media (min-width: 1439px) {
            max-width: 400px;
        }
    }

}

