@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all ease-in-out .1s;
}
html.dark{
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

div#mobile-menu{
    transition: all ease-in-out 1s;
}
