@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all ease-in-out .1s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html.dark{
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

div#mobile-menu{
    transition: all ease-in-out 1s;
}

#offcanvasCart{
    left: unset;
}

.scrollProducts{
    scrollbar-color: white;
    scrollbar-width: thin;
    
}

.scrollProducts::-webkit-scrollbar{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 4px;
    scrollbar-color: white;
}

.scrollProducts::-webkit-scrollbar-thumb{
    background-color: white;
    opacity: 0.8;
    height: auto;
    width: 4px;
}

